@font-face {
  font-family: 'Arch';
  src: url('/fonts/Arch-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arch';
  src: url('/fonts/Arch-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arch Condensed';
  src: url('/fonts/Arch-BoldCondensed.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
