@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Arch';
  src: url('/fonts/Arch-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arch';
  src: url('/fonts/Arch-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arch Condensed';
  src: url('/fonts/Arch-BoldCondensed.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
